<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css" rel="stylesheet">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/client-zip/index.js"></script>
    <title>MTB Extreme</title>
    <script>
        function printScreen() {
            let images = [];
            const tags = document.getElementById("cards-container").getElementsByTagName("div");
            // for (let i = 0; i < tags.length; i++) {
            //     // html2canvas(document.querySelector("#card" + (i + 1))).then(canvas => {
            //     const cardDiv = document.getElementById("card" + (i + 1));
            //     console.log(cardDiv);
            //     html2canvas(cardDiv).then(canvas => {
            //         // const dataUrl = canvas.toDataURL("image/png");
            //         // images.push(dataUrl);
            //         console.log(canvas);
            //         // images.push(canvas.blob());
            //     });
            // }

            html2canvas(document.getElementById("cards-container")).then(canvas => {
                const dataUrl = canvas.toDataURL("image/png");
                const saveButton = document.getElementById("save-button");
                saveButton.download = "image.png";
                saveButton.href = dataUrl.replace(/^data:image\/[^;]/, 'data:application/octet-stream');
            });

            // const blob = downloadZip(images).blob()
            // // document.getElementById("save-button").download = "image.png";
            // // document.getElementById("save-button").href = dataUrl.replace(/^data:image\/[^;]/, 'data:application/octet-stream');
            // // document.getElementById("save-button").download = "images.zip";
            // document.getElementById("save-button").href = URL.createObjectURL(blob);
        }
    </script>
</head>
<body>
<style>
    body {
        margin: 10px;
    }

    .demo-card-square.mdl-card {
        /*margin: 5px;*/
        /*border-radius: 20px;*/
        width: 400px;
        text-align: center;
        background-color: #f08a1e;
        /*border: 5pt solid rgba(0, 0, 0, .1);*/
        /*border: 1pt solid #8f96a3;*/
        border: 1pt solid #e6e6e6;
    }

    .demo-card-square > .mdl-card__title {
        align-self: center;
        height: 105px;
        color: #fff;
    }

    .mdl-card__actions {
        background-color: white;
        /*padding: 15px;*/
    }

    .card-body {
        padding-top: 15px;
        background-color: white;
    }

    .name {
        margin-top: 0;
        height: 32px;
    }

    .explanation {
        /*text-align: justify;*/
        height: 30px;
        font-size: 16px;
    }

    .stat {
        /*color: black;*/
        height: 100px;
    }

    .duration {
        font-size: 16px;
    }
</style>
<div class="mdl-grid" id="cards-container">
    {% for card in cards %}
    <div class="demo-card-square mdl-card mdl-card--border" id="card{{ loop.index }}">
        <div class="mdl-card__title">
            <h3>Actiekaart</h3>
        </div>
        <div class="card-body">
            <div class="mdl-card__supporting-text">
                <h4 class="name mdl-card__sutitle-text">{{ card.name }}</h4>
                <img src="icons/{{ card.image }}" width="200px">
                <h4 class="mdl-card__sutitle-text stat">{{ card.effect }}</h4>
                <div class="explanation">
                    {{ card.description }}
                </div>
            </div>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <h4 class="duration mdl-card__subtitle-text">{{ card.duration }}</h4>
        </div>
    </div>
    {% endfor %}
</div>
<a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
   href="#"
   id="save-button"
   onclick="printScreen()">
    <!--        onclick="window.print();">-->
    <i class="material-icons">save</i>
    Opslaan
</a>
</body>
</html>